[mysqld_safe]
open-files-limit = 8192

[client]
port    = 3306
socket  = /var/lib/mysql/mysql.sock
default-character-set = utf8

[mysqld]
character-set-server     = utf8
character-set-filesystem = utf8
collation-server         = utf8_general_ci
skip-character-set-client-handshake

default_storage_engine   = InnoDB
#innodb_data_file_path    = ibdata1:12M:autoextend
innodb_file_per_table

datadir   = /var/lib/mysql
socket    = /var/lib/mysql/mysql.sock
log-error = /var/log/mysqld.log
pid-file  = /var/run/mysqld/mysqld.pid
symbolic-links = 0

log-bin    = mysql-bin
relay-log  = mysql-relay-bin
server-id  = {{ server_id }}
gtid-mode  = on
enforce-gtid-consistency
log-slave-updates
binlog-checksum  = CRC32
binlog-format    = row
max-binlog-size  = 256M
expire-logs-days = 30
master-info-repository    = TABLE
relay-log-info-repository = TABLE

sync-master-info       = 1
slave-parallel-workers = 2
relay-log-recovery
master-verify-checksum
slave-sql-verify-checksum
binlog-rows-query-log_events
report-port = 3306
port        = 3306
report-host = {{ hostname }}

#read_only
#general-log-file = /var/log/mysql-query.log
#log-slow-queries = /var/log/mysql-slow.log
long-query-time  = 1

# ----------------------------------
# TMP settings
# ----------------------------------
max_heap_table_size     = 1G
bulk_insert_buffer_size = 1G
tmp_table_size          = 1G
tmpdir = /tmp

# ----------------------------------
# When using rpl_semi_sync
# ----------------------------------
plugin-dir  = lib64/mysql/plugin
plugin-load = semisync_master.so;semisync_slave.so

rpl_semi_sync_master_enabled = 1
rpl_semi_sync_master_timeout = 10
rpl_semi_sync_slave_enabled  = 1

# ----------------------------------
# When starting from /etc/init.d/mysqld
# ----------------------------------
validate_password_policy = LOW
validate_password_length = 0
validate_password_mixed_case_count   = 0
validate_password_number_count       = 0
validate_password_special_char_count = 0

# ----------------------------------
# 5.7 default -> 5.6 default
# ----------------------------------
#
# 今回は、「mysqlが落ちる」時は、Active/Stanbyのポジションが入れ替わる時になるので
# ウォーミングアップのことは考えずに5.6以前同様の設定に戻す。
#
innodb_buffer_pool_dump_at_shutdown = 0
innodb_buffer_pool_load_at_startup  = 0
loose-innodb_buffer_pool_dump_pct   = 100
#
# パスワードの有効期限を設けないように設定
#
loose-default_password_lifetime = 0
#
# DefaultがUTCになっているので、5.6以前同様 SYSTEMに合わせる
# REF : http://yoku0825.blogspot.jp/2015/03/mysql-57logtimestamps.html
#
loose-log_timestamps = SYSTEM
#
# Innodb だとmysqldの再起動まで容量が空かないので、5.6以前同様 MyISAMで運用する
# REF : http://yoku0825.blogspot.jp/2015/04/mysql-576.html
#
loose-internal_tmp_disk_storage_engine = MyISAM
#
# 設定していないとmysqlfailoverがmaster/slaveの切替時にエラーになる
#
loose-show_compatibility_56 = ON
#
#secure_file_priv = ""                # 別に利用しないので、不要。
#sql_mode = NO_ENGINE_SUBSTITUTION    # ここは、厳しくした方が本当はいいので、あえてゆるくする必要はない。
#loose-log_error_verbosity = 3        # 確認したが、デフォルトが3だったのであえて設定する必要はない。
